# 기본 라이브러리
gradio
pydub
openai
langchain
langchain-google-genai
langgraph
chromadb
langchain-tavily
langchain-openai
langchain-community
langchain-chroma
python-slugify

# 참고:
# 1. torch: GPU 사용 시, CUDA 버전에 맞는 버전을 설치하는 것을 권장합니다. (https://pytorch.org/get-started/locally/)
# 2. pyannote.audio: 사용을 위해 Hugging Face에서 라이선스 동의가 필요할 수 있습니다.
# 3. ffmpeg: pydub을 이용한 mp4, m4a 등의 파일 변환을 위해 시스템에 설치 및 PATH 설정이 필요합니다.

# PyTorch (CUDA 11.8, GTX 1660 SUPER 호환)
--index-url https://download.pytorch.org/whl/cu121
#--index-url https://download.pytorch.org/whl/cu118
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1

# pyannote (안정 버전)
pyannote.audio==3.4.0
pyannote.core==5.0.0
pyannote.metrics==3.2.1

# 호환 numpy
numpy==1.26.4

# 필수 유틸
torchcodec==0.7.0
huggingface_hub
python-dotenv
ffmpeg-python